<style>

@font-face {
  font-family: "Fenix";
  src: url(fonts/Fenix/Fenix-Regular.ttf);
}

@font-face {
  font-family: "Alegreya Sans";
  src: url(fonts/Alegreya_Sans/AlegreyaSans-Medium.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url(fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
  font-weight: 300;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url(fonts/Alegreya_Sans/AlegreyaSans-Light.ttf);
  font-weight: 200;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url(fonts/Alegreya_Sans/AlegreyaSans-MediumItalic.ttf);
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: "Alegreya Sans";
  src: url(fonts/Alegreya_Sans/AlegreyaSans-Bold.ttf);
  font-weight: bold;
}

@font-face {
  font-family: "Source Code Pro";
  src: url(fonts/Source_Code_Pro/SourceCodePro-Medium.ttf);
  font-weight: 300;
}

#notebook_panel { /* main background */
    background: rgb(245,245,245);
}

div.cell { /* set cell width */
    width: 850px;
}

div #notebook { /* centre the content */
    background: #fff; /* white background for content */
    margin: auto;
    width: 1000px;
    padding-left: 0em;
}

#notebook li { /* More space between bullet points */
margin-top:0.8em;
}

/* draw border around running cells */
div.cell.border-box-sizing.code_cell.running { 
    border: 1px solid #111;
}

/* Put a solid color box around each cell and its output, visually linking them*/
div.cell.code_cell {
    background-color: rgb(256,256,256); 
    border-radius: 0px; 
    padding: 0.5em;
    margin-left:1em;
    margin-top: 1em;
}

div.text_cell_render{
    font-family: 'Alegreya Sans', sans-serif;
    line-height: 140%;
    font-size: 125%;
    font-weight: 400;
}

/* Formatting for header cells */
.text_cell_render h1 {
    font-family: 'Alegreya Sans', sans-serif;
    font-style:regular;
    font-weight: 200;    
    font-size: 50pt;
    line-height: 100%;
    color:#CD2305;
    margin-bottom: 0.5em;
    margin-top: 0.5em;
    display: block;
}	
.text_cell_render h2 {
    font-family: 'Fenix', serif;
    font-size: 22pt;
    line-height: 100%;
    margin-bottom: 0.1em;
    margin-top: 0.3em;
    display: block;
    color:#CD2305;
}	

.text_cell_render h3 {
    font-family: 'Fenix', serif;
    margin-top:12px;
    font-size: 16pt;
    margin-bottom: 3px;
    font-style: normal;
    display: block;
    color:#CD2305;
}

.text_cell_render h4 {    /*Use this for captions*/
    font-family: 'Fenix', serif;
    font-size: 14pt;
    margin-top: 0em;
    margin-bottom: 2em;
    display: block;
    color:#CD2305;
}

.text_cell_render h5 {  /*Use this for small titles*/
    font-family: 'Alegreya Sans', sans-serif;
    font-weight: 300;
    font-size: 16pt;
    color: #CD2305;
    font-style: italic;
    margin-bottom: .5em;
    margin-top: 0.5em;
    display: block;
}

.text_cell_render h6 { /*use this for copyright note*/
    font-family: 'Source Code Pro', sans-serif;
    font-weight: 300;
    font-size: 9pt;
    line-height: 100%;
    color: grey;
    margin-bottom: 1px;
    margin-top: 1px;
}

.CodeMirror{
  font-family: "Source Code Pro";
  font-size: 100%;
}
	
.text_cell_render code {
  font-family: "Source Code Pro";
  font-size: 100%;
  background-color: #dadada;
}
    
.warning{
  color: rgb( 240, 20, 20 )
}  
</style>
<script>
MathJax.Hub.Config({
  TeX: {
    extensions: ["AMSmath.js"], 
    equationNumbers: { autoNumber: "AMS", useLabelIds: true}
  },
  Macros: {
    sen: "\\operatorname{sen}",
    tg: "\\operatorname{tg}",
    cotg: "\\operatorname{cotg}"
  },
  tex2jax: {
    inlineMath: [ ['$','$'], ["\\(","\\)"] ],
    displayMath: [ ['$$','$$'], ["\\[","\\]"] ]
  },
  displayAlign: 'center', // Change this to 'center' to center equations.
  "HTML-CSS": {
    styles: {'.MathJax_Display': {"margin": 4}},
    scale: 100
  }
});
</script>
